.login_form{
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: rgb(219, 219, 255, 10%);
    width: 350px;
    
}