.form{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.pagina_login{
    background: linear-gradient(90deg, rgb(133, 0, 133) 0%,  rgb(41, 0, 41) 100%);
    background-color: rgb(85, 0, 85);
    height: 100%;
    padding: 2%;
    padding-bottom: 10%;
    margin-top: 10px;
}


.link{
    border: solid;
    border-width: 1px;
    padding: 10px;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 400ms;
    text-decoration: none;
    font-size: 15pt;
    color: rgb(230, 105, 255);
    background-color: rgb(160, 0, 160, 25%);
}
.link:hover{
    transition: 400ms;
    text-decoration: none;
    font-size: 15pt;
    color: rgb(105, 105, 105);
}