.barraPesquisa{
    display: flex;
    width: 260px;
    border: solid;
    border-width: 1px;
    padding: 10px;
    border-radius: 10px;
    
}

.barraPesquisa input{
    border: none;
    outline: none;
    font-size: 12pt;
    width: 230px;
}

.barraPesquisa button{
    background-color: rgb(237, 237, 237);
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.barraPesquisa button:hover{

    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: rgb(243, 243, 243);
}

.barraPesquisa button:active{
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: rgb(201, 201, 201);
}